* {
    box-sizing: border-box;
  }
  
  body {
    line-height:1.6;
    min-height:100vh;
    display:grid;
    place-items:center;
    background-color: rgba(0,0,0,0.2);
  }
  .card{
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    width:100%;
    max-width:1925px;
    display:flex;
    flex-direction: column;
    background:rgb(112,112,112);
    color:rgb(255,255,255);
    text-align:center;
    padding: 2em;
    margin-top: .25rem;
    justify-content: center;
  }
  .profile-main{
    margin-top: 40px;
  }
  .profile-name{
    font-size: 3.5rem;
    line-height:1.1;
    letter-spacing:1px;
    position: relative;
    border-bottom: 2px solid rgb(211,122,0);
    padding-bottom: 15px;
  }
  /* .profile-name::after{
    content:"";
    display:block;
    width:100%;
    height:2px;
    background: rgb(211,122,0);
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0.7em auto 0.5em;
    
  } */
  .profile-position{
    margin-top: 50px;
    text-transform:uppercase;
    font-size:0.875em;
    letter-spacing:3px;
    color:rgb(26, 181, 201);
    margin-bottom:2em;
    top: 30px;
  }
  .profile-body{
    font-weight:300;
    opacity:0.8;
    margin-bottom:0;
    color: #000;
  }
  .solid-link{
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
  }
  .solid-link:visited{
    color: rgb(26, 181, 201);
}
  .crap-link{
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
  }
 
  .crap-link:visited{
      color: rgb(26, 181, 201);
  }
  .insta-link{
    color: rgb(255,255,255);
    text-decoration: none;
    cursor: pointer;
  }
 
  .insta-link:visited{
      color: rgb(26, 181, 201);
  }

 
  .profile-image{
    border-radius:50%;
    border: 4px solid rgb(26, 181, 201);
    max-block-size: 350px;
  }
  .social-list {
    display:flex;
    justify-content:space-around;
    list-style:none;
    margin:0;
    padding:0;
    width:150px;
    margin: 0 auto;
    padding-top: 1em;
  }
  .social-link {
    color:rgb(211,122,0);
  }
  .social-link:hover,
  .social-link:focus {
    color:rgb(26, 181, 201);
  }
  .button-theme{
      background-color: white;
      border:2px solid rgb(26, 181, 201);
      color:rgb(211,122,0);
      padding:0.35rem;
  }
  .button-theme:hover,
  .button-theme:focus{
      color: rgb(211,122,0);
      border:2px solid rgb(211,122,0);
  }
  .button-theme-cl{
    color:rgb(255, 255, 255);
    float: right;
}
.button-theme-cl:hover,
.button-theme-cl:focus{
    color: rgb(255,0,0);
}
  .overlay{
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index:99;
    background:#000;
    pointer-events:none;
    opacity:0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  input[type="checkbox"]:checked ~ .overlay{
    pointer-events:auto;
    opacity:0.9;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: transform 0.5s ease, opacity 0.5s ease;
            transition: transform 0.5s ease, opacity 0.5s ease;
  }
  
  .modal {
    position:fixed;
    top:50%;
    left:50%;
    z-index: 100;
    -webkit-transform: translate(-50%,-50%) scale(0.5);
            transform: translate(-50%,-50%) scale(0.5);
    width:100%;
    max-width:650px;
    pointer-events:none;
    opacity:0;
  }
  input[type="checkbox"]:checked ~ .modal {
    pointer-events: auto;
    opacity: 1;
    -webkit-transform: translate(-50%,-50%) scale(1);
            transform: translate(-50%,-50%) scale(1);
    -webkit-transition: transform 0.5s ease, opacity 0.5s ease;
            transition: transform 0.5s ease, opacity 0.5s ease;
    transition-delay: 0.1s;
  }
  .modal_content{
    display: block;
    padding:1.5rem;
    background: rgb(112,112,112);
  }
  
  @media(min-width:650px) {
    .card {
      flex-direction: row;
    }
    .profile-main{
      text-align:center;
      margin-left:2em;
    }
    .profile-name::after{
      margin-left:0;
      width: 5em;
    }
  }

  /* Navbar Styling */
.nav-wrapper{
    display:flex;
    justify-content: space-between;
    align-items: center;
    max-block-size: 1925px 70px;
    background-color: rgb(26, 181, 201);
    padding: 20px;
}
.right-side{
    display: flex;
    align-items: center;
    margin-right: 20px;
    font-size: 0.9em;
}
.contact-link{
    color: rgb(255, 255, 255);
    font-weight: bold;
    letter-spacing: 2px;
}
.contact-link:hover,
.contact-link:focus{
    color: rgb(211,122,0);
}


/* Skills Section Styling */

.skills-wrapper{
    background-color: rgb(112,112,112);
    max-width: 100%;
    margin-top: .25rem;
    max-height: 100%;
}
.skill-title{
    color: rgb(255,255,255);
    font-size: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    text-align: center;
}
.skill-text{
    font-size: 1em;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 0;
}
.skill-list{
    /* display:grid;
    grid-template-columns: repeat(auto-fill, minmax(200px,auto)); */
    max-width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding-bottom: 1.5em;
    justify-content: space-evenly;
    
}
.grid {
  width: 40%;
    border: 3px solid rgb(26, 181, 201);
    background-color:rgb(255,255,255);
    padding:1.5em;
    margin:1em;
    text-align: center;
}
.lang-text{
    color: rgb(26, 181, 201);
    margin-top: 0;
    font-size: 20px;
    text-decoration: underline;
}
.lang-list{
    list-style: none;
    font-size: 1.5em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.lang-list li{
  width:30%;
  height: 100%;
  order: 3;

}
/* Portfolio Styling */

.project-wrapper{
    background-color: rgb(112,112,112);
    display: grid;
    max-block-size: 1366px;
    margin-top: .25rem;
}
/* .project-link{
    text-decoration: none;
    color: rgb(26, 181, 201);
    cursor: pointer; */
/* } */
.project-title{
    color: rgb(255, 255, 255);
    font-size: 2em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 0;
    
}
.project-grid {
    border: 3px solid rgb(26, 181, 201);
    background-color:rgb(255,255,255);
    max-width: 60%;
    padding:1.5em;
    margin:0 auto;
    margin-bottom: 10px; 
}
.project-name{
  color: rgb(26, 181, 201);
  font-size: 1.5em;
  text-decoration: none;
  display: block;
  text-align: center;
}
.project-name:hover,
.project-name:focus,
.project-name:active{
  color: #000;
  text-decoration: underline;
}
video{
  width:90%;
  border: 0.2rem solid rgb(112,112,112);
  display: block;
  margin:0 auto;
}

.bottom{ /*Adding space to the bottom of this section, maybe take out later*/
    margin-bottom: 25px;
}

/* Contact Form Styling */

.contact-wrapper {
    background-color: rgb(112,112,112);
    max-block-size: 1925px;
    margin-top: .25rem;
    padding: 1em;
}
/* .triangle {
    width: 0; 
    height: 0; 
    border-left: 650px solid transparent;
    border-right: 650px solid transparent;
    
    border-top: 20px solid #f00;
} */
.form {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    left: 0;
    right: 0;
    border-top: 7px solid rgb(211,122,0);
    border-bottom: 7px solid rgb(211,122,0);
}
.contact-title {
    color:rgba(0,0,0,0,.95);
    font-size: 2em;
    position: relative;
    text-align: center;
    text-decoration: underline rgb(211,122,0);
}
.name {
    background-color: rgb(26, 181, 201);
    color: rgb(255, 255, 255);
}
.phone {
    background-color: rgb(26, 181, 201);
    color: rgb(255, 255, 255);
}
.email {
    background-color: rgb(26, 181, 201);
    color: rgb(255,255,255);
}
.message {
    background-color: rgb(26, 181, 201);
    overflow: hidden;
    height: 10em;
}
.formEntry {
    display: block;
    margin: 20px auto;
    min-width: 400px;
    padding:10px;
    border-radius: 2px;
    border:none;
}
.submit {
    width: 100px;
    color: rgb(255,255,255);
    background-color: rgb(112,112,112);
    font-size: 20px;
}
.submit:hover,
.submit:focus{
    background-color: rgb(211,122,0);
}
/* Review Styling */
.testimonial-wrapper{
    background-color: rgb(112,112,112);
    position: static;
    display: flex;
    max-block-size: 1366px;
    margin-top: .25rem;
}
.testimonial-title{
    color: rgb(255, 255, 255);
    font-size: 2em;
    margin-left: auto;
    margin-right: auto;
}
